.form-modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  right: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 1;
    transition:
    display .5s ease;
}

.form-modal__container {
  font-family: "CabinetGrotesk-Bold", monospace;
  transform: translate(0, 25%);
  width: 500px;
  height: auto;
  background-color: #ffffff;
  margin: auto;
  position: relative;
  border-radius: 16px;
  color: black;
}

.item-modal__close-btn {
  position: absolute;
  display: inline-block;
  margin-left: auto;
  right: 30px;
  top: 22px;
  z-index: 2;
  width: 16px;
  height: 16px;
  color: rgba(0, 0, 0, 0.3);
}

.form-modal__title {
  margin: 0;
  padding: 28px 28px 0px;
}

.form-modal__input {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 24px 28px 0px;
}

.form-modal__input-txt {
  background-color: #ffffff;
  font-family: "CabinetGrotesk-Medium", monospace;
  color: rgba(0, 0, 0, 1);
  border: none;
  border-bottom: solid rgba(0, 0, 0, 1) 1px;
  padding: 4px 0px;
  font-size: 16px;
  line-height: 20px;
}

.form-modal__input-txt:focus {
  outline: none;
  background-color: #ffffff;
}

.form-modal__radio {
  color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  padding: 24px 28px 0px;
  gap: 8px;
  color: rgba(0, 0, 0, 1);
  
}

.form-modal__radio-btn:not(:checked) {
  appearance: none;
  margin-bottom: 0;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  border: solid rgba(0, 0, 0, 0.5) 1px;
  background: rgba(0, 0, 0, 0);
}

.form-modal__radio-label{
    transition:
    opacity .5s ease;
}

.form-modal__radio-label:has(input:not(:checked)) {
  opacity: 50%;
}

.form-modal__radio-btn {
 
  accent-color: black;
  margin: 0px 8px 0px 0px;
  transition:
    accent-color .5s ease,
    background-color .5s ease;
}

.form-modal__submit-btn {
  font-family: "CabinetGrotesk-Medium", monospace;
  margin: 28px 32px 36px;
  width: 124px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 0, 0, 1);
  transition:
    opacity .5s ease;
}

.form-modal__submit-btn:disabled {
  opacity: 30%;
  
}

.form-modal__submit-btn:hover {
  opacity: 60%;
}
