.item-modal{
    background-color: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    right:0;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.item-modal__container{
    transform: translate(0, 25%);
    width: 500px;
    height: 610px;
    background-color: #ffffff;
    margin: auto;
    position: relative;
    border-radius: 16px;
    
}


.item-modal__close-btn{
    position: absolute;
    display: inline-block;
    margin-left: auto;
    right: 24px;
    top: 24px;
    z-index: 2;
    width: 20px;
    height: 20px;
}


.item-modal__image{
    display: block;
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.item-modal__description{
    color: black;
    font-family: "CabinetGrotesk-Bold", monospace;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding: 20px 32px;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

