.footer{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #F3F3F3;
    align-items: center;
    padding: 0px 40px 24px 40px;
    color: black;
    font-family: "CabinetGrotesk-Bold", monospace;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    margin-top: 85px;
}