* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  
}

html{
  width: auto;
  height: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: local("CabinetGrotesk-Bold"),url("./assets/fonts/CabinetGrotesk-Bold.otf") format("opentype");
}

@font-face {
  font-family: "CabinetGrotesk-Medium";
  src: local("CabinetGrotesk-Medium"),url("./assets/fonts/CabinetGrotesk-Medium.otf") format("opentype");
}